.icon {
  position: absolute;
  height: 83.33%;
  width: 71.67%;
  top: 8.33%;
  right: 14.17%;
  bottom: 8.33%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconNotification {
  width: 24px;
  position: relative;
  height: 24px;
}
