.label {
  height: 18px;
  width: 174px;
  position: relative;
  line-height: 18px;
  display: inline-block;
  flex-shrink: 0;
}
.value {
  height: 18px;
  width: 38px;
  position: relative;
  line-height: 18px;
  color: var(--core-color-opacity-black-600);
  text-align: right;
  display: inline-block;
}
.div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--desktop-semantic-typography-caption-bold-default-size);
  color: var(--core-color-opacity-black-400);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
