.label {
  position: relative;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.payoutInfo1 {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--mobile-semantic-typography-body-sm-regular-default-size);
  color: var(--core-color-opacity-black-600);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
