.label {
  height: 14px;
  width: 22px;
  position: relative;
  line-height: 14px;
  display: inline-block;
}
.badgeNew {
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-5xs);
  text-align: left;
  font-size: var(--desktop-extra-small-xs-bold-size);
  color: var(--status-light-information);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
