.labelText {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.stateLayer {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.button {
  border-radius: var(--br-81xl);
  background-color: var(--schemes-primary);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--mobile-semantic-typography-body-sm-regular-default-size);
  color: var(--core-color-solid-slate-50);
  font-family: var(--m3-body-small);
}
