.label {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
}
.buttonUpgrade {
  border-radius: var(--br-9xs);
  background-color: var(--button-primary-default);
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--mobile-semantic-typography-body-sm-regular-default-size);
  color: var(--core-color-solid-slate-50);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
