.label {
  position: relative;
  line-height: 22px;
  z-index: 1;
}
.labelTag {
  position: relative;
  line-height: 22px;
  z-index: 2;
}
.bgFocus {
  width: calc(100% + 8px);
  position: absolute;
  margin: 0 !important;
  height: calc(100% + 8px);
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border-radius: var(--br-77xl);
  border: 2px solid var(--color-dodgerblue);
  box-sizing: border-box;
  z-index: 3;
}
.chipLabels {
  height: 32px;
  border-radius: var(--br-77xl);
  border: 1px solid var(--core-color-opacity-black-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-base);
  position: relative;
  gap: var(--gap-5xs);
  min-height: 32px;
  max-height: 32px;
  z-index: 0;
  text-align: left;
  font-size: var(--mobile-semantic-typography-body-sm-regular-default-size);
  color: var(--core-color-opacity-black-600);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
