.platformSwitcherMenus {
  height: 48px;
  width: 315.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.menuNotification {
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.iconProfile {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.menuProfile {
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.border {
  width: 1px;
  position: relative;
  background-color: var(--system-light-7-secondary-background);
  height: 32px;
}
.notificationProfileBorder {
  height: 40px;
  width: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
}
.iconAccount {
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-731xl);
}
.balance {
  height: 24px;
  width: 115px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.iconDropdown {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconDropdownWrapper {
  height: 20px;
  width: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
}
.switcherAccount {
  height: 48px;
  width: 202px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.notificationProfileAccount {
  height: 48px;
  width: 299px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonUpgradeWrapper {
  cursor: pointer;
  border: none;
  padding: var(--padding-5xs) 0px 0px;
  background-color: transparent;
  height: 40px;
  width: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.accountSwitcherMenus {
  height: 48px;
  width: 390px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
  text-align: right;
  color: var(--status-light-success);
}
.desktopHeaderPlatform {
  width: 1280px;
  height: 48px;
  background-color: var(--core-color-solid-slate-50);
  border-bottom: 1px solid var(--system-light-7-secondary-background);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-539xl-3);
  text-align: left;
  font-size: var(--mobile-semantic-typography-body-md-regular-default-size);
  color: var(--color-darkslategray-100);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
