.icon {
  width: 14px;
  height: 24px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
}
.iconLeft {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerIconLeft {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.item {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 24px;
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
  color: inherit;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}
.icon1 {
  width: 14px;
  height: 24px;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  display: inline-block;
}
.iconRight {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerIconRight {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.bgFocus {
  width: calc(100% + 8px);
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 28px);
  right: -4px;
  left: -4px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-dodgerblue);
  box-sizing: border-box;
  height: 56px;
  z-index: 3;
}
.item1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-base);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-height: 48px;
  max-height: 48px;
  text-align: center;
  font-size: var(--mobile-semantic-typography-body-md-regular-default-size);
  color: var(--core-color-opacity-black-600);
  font-family: var(--desktop-semantic-typography-icon-standalone-regular-md);
}
