.icon {
  margin: 0;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 7.5px);
  font-size: inherit;
  line-height: 32px;
  font-weight: 400;
  font-family: inherit;
}
.standaloneMdPlayMd {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--mobile-semantic-typography-body-xl-regular-default-size);
  color: var(--core-color-solid-slate-1400);
  font-family: var(--desktop-semantic-typography-icon-standalone-regular-md);
}
