.label {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.labelMarker {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.labelPlaceholderInputCur {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.field {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--core-color-solid-slate-50);
  border: 1px solid var(--core-color-opacity-black-100);
  box-sizing: border-box;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-base);
  gap: var(--gap-5xs);
}
.message {
  flex: 1;
  position: relative;
  line-height: 18px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.characterCounter {
  text-decoration: none;
  position: relative;
  line-height: 18px;
  color: inherit;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.messageCharacterCounter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--desktop-semantic-typography-caption-bold-default-size);
  color: var(--core-color-opacity-black-400);
}
.typeoutlineStatusneutral {
  width: 360px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--mobile-semantic-typography-body-md-regular-default-size);
  color: var(--core-color-opacity-black-600);
  font-family: var(--mobile-semantic-typography-body-sm-regular-default);
}
